/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
#appDiv{
	width:50%; 
	margin: 40px auto; 
}

img{
	border: 2px solid #000;
	margin-top:5px;
}

#table-button{
	margin-left:0px;
	margin-top:10px;
}
.mat-header-row{
	background-color:#71a2a6;
	color:#fff;
	border-top: 3px solid #000;
	border-right:3px solid #000;
	border-bottom:1px solid #000;
	border-left:3px solid #000;
	font-family: Arial;
	font-size:2em;
}

.mat-header-cell{
	font-size:18px;
	font-weight:bold;
}

mat-table{
	border-bottom: 2px solid #000;
}
mat-row{
	border: 2px solid #000;
	font-family: Arial;
}
mat-row:nth-child(even){background-color:#eef2db;}

mat-row:nth-child(odd){background-color:#daf2e4;}

mat-header-cell span{
	display:block;
}
/*.cdk-visually-hidden{
	width:11%;
	background-color:#fff;
	font-size:8pt;
	position:absolute;
}*/


#hide{margin:10px;}

@media only screen and (min-device-width : 320px) and (max-device-width : 374px){
#appDiv{
	width:100%; 
	margin: 0 auto; 
}



.mat-header-cell{
	font-size:12px;
}

}